.carousel-inner > .carousel-item > img {
    
    max-height:450px;
  }

  .navbar-bold{
    font-size: 2rem;
  }

  .navbar-span{
    font-weight: bolder;
  }

  .card-middle{
    padding: 15px;

  
  }

  
 